/*
Error: Invalid CSS after "function () ": expected expression (e.g. 1px, bold), was "{"
        on line 6 of js.js

1: // Hi.
2: 
3: var WP = WP || {};
4: 
5: WP.cosmetics = {
6:     init: function () {
7:         var weiPreload = new Image();
8:         weiPreload.src = '/w/assets/images/wei-outline.svg';
9: 
10:         $(function () {
11:             var wei = $('#wei');

Backtrace:
js.js:6
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/scss/parser.rb:1164:in `expected'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/script/lexer.rb:221:in `expected!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/script/parser.rb:602:in `assert_done'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/script/parser.rb:63:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/script/parser.rb:183:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/script.rb:27:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:1130:in `parse_script'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:720:in `parse_property'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:691:in `parse_property_or_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:657:in `parse_line'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:535:in `build_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:554:in `block in append_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:553:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:553:in `append_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:544:in `block in build_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:537:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:537:in `build_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:554:in `block in append_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:553:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:553:in `append_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:406:in `_to_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:410:in `run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/bin/sass:13:in `<top (required)>'
C:/Ruby193/bin/sass:23:in `load'
C:/Ruby193/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"function () \": expected expression (e.g. 1px, bold), was \"{\"\A         on line 6 of js.js\A \A 1: // Hi.\A 2: \A 3: var WP = WP || {};\A 4: \A 5: WP.cosmetics = {\A 6:     init: function () {\A 7:         var weiPreload = new Image();\A 8:         weiPreload.src = '/w/assets/images/wei-outline.svg';\A 9: \A 10:         $(function () {\A 11:             var wei = $('#wei');"; }
