/*
Error: The line was indented 3 levels deeper than the previous line.
        on line 17 of header.php

12: </head>
13: <body>
14: 
15: 	<header>
16: 		<?php 	if ($page->prevVisible()):
17: 					$prev = $page->prevVisible();
18: 				else:
19: 					$prev = $site->children()->visible()->last();
20: 				endif;
21: 		?>
22: 		<?php 	if ($page->nextVisible()):

Backtrace:
header.php:17
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:521:in `tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:523:in `tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:523:in `tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:406:in `_to_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:410:in `run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/bin/sass:13:in `<top (required)>'
C:/Ruby193/bin/sass:23:in `load'
C:/Ruby193/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 3 levels deeper than the previous line.\A         on line 17 of header.php\A \A 12: </head>\A 13: <body>\A 14: \A 15: 	<header>\A 16: 		<?php 	if ($page->prevVisible()):\A 17: 					$prev = $page->prevVisible();\A 18: 				else:\A 19: 					$prev = $site->children()->visible()->last();\A 20: 				endif;\A 21: 		?>\A 22: 		<?php 	if ($page->nextVisible()):"; }
