/*
Error: The line was indented 3 levels deeper than the previous line.
        on line 4 of project.php

1: <?php snippet('header') ?>
2: 
3: 	<?php 	if ($page->prevVisible()):
4: 				$prev = $page->prevVisible();
5: 			else:
6: 				$prev = $site->children()->visible()->last();
7: 			endif;
8: 	?>
9: 	<a href="<?php echo $prev->url() ?>">

Backtrace:
project.php:4
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:521:in `tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:523:in `tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:406:in `_to_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:410:in `run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.16/bin/sass:13:in `<top (required)>'
C:/Ruby193/bin/sass:23:in `load'
C:/Ruby193/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 3 levels deeper than the previous line.\A         on line 4 of project.php\A \A 1: <?php snippet('header') ?>\A 2: \A 3: 	<?php 	if ($page->prevVisible()):\A 4: 				$prev = $page->prevVisible();\A 5: 			else:\A 6: 				$prev = $site->children()->visible()->last();\A 7: 			endif;\A 8: 	?>\A 9: 	<a href=\"<?php echo $prev->url() ?>\">"; }
